.row-content{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, minmax(270px,300px)); */
    grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
    grid-template-rows: auto;


    margin-bottom: 30px;

    gap: 30px;
}

@media screen and (max-width: 1260px) {
    
    .row-content{
        grid-template-columns: 1fr 1fr;
    }

}


@media screen and (max-width: 950px) {
    
    .row-content{
        grid-template-columns: 1fr;
    }

}