.root {
    min-width: 320px;
    max-width: 1171px;

    margin: 0 auto;
    font-family: Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --color1: #FFCF26;
    --color2: #FFE074;
    --color3: #11BE75;
    --color4: #3C3C3C;
}