.card-yellow-tag{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 22px;
    width: 80px;
    background-color: #FFCF26;
    border-radius: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card-green-tag{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 22px;
    width: 142px;
    background-color: #11BE75;
    border-radius: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}
