.card{
    height: auto;
    width: 270px;
    background-color: #ffffff;

    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.1));
}

.card h1{

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.card span{
    margin-bottom: 10px;
    line-height: 16px;
}


.card p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}