
/* ============= Блок основные кнопки ============= */

.setting-table-leble{
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;

    justify-items: stretch;
    align-items: stretch;

    border: 1px solid #D6D6D6;
    border-radius: 4px 4px 0px 0px;
}

/* Пункт <10 */
.setting-table-leble > div:nth-child(1){
    padding-top: 16px;
    /* background-color: #FFCF26; */
    border-top-left-radius: 4px;
}

.setting-table-leble > div:nth-child(1):hover{
    background-color:var(--color2);
}

/* Пункт 10-20 */
.setting-table-leble > div:nth-child(2){
    padding-top: 16px;
    /* background-color: #FFCF26; */

}

.setting-table-leble > div:nth-child(2):hover{
    background-color: var(--color2);
}

/* Пункт 20-30 */
.setting-table-leble > div:nth-child(3){
    padding-top: 16px;
    /* background-color: #FFCF26; */
}

.setting-table-leble > div:nth-child(3):hover{
    background-color: var(--color2);
}

/* Пункт 30+ */
.setting-table-leble > div:nth-child(4){
    padding-top: 16px;
    /* background-color: #FFCF26; */
    border-top-right-radius: 4px;
}

.setting-table-leble > div:nth-child(4):hover{
    background-color: var(--color2);
}


/* ============= Блок Любая кнопка ============= */

.setting-table-any{
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;

    justify-items: stretch;
    align-items: stretch;

    border: 1px solid #D6D6D6;
    border-radius: 0px 0px 4px 4px;
}

.setting-table-any > div:nth-child(1){
    padding-top: 16px;
    /* background-color: #FFCF26; */
}

.setting-table-any > div:nth-child(1):hover{
    background-color: var(--color2);
}
